.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
.secondary-bg {
    border-radius: 10px;
    background: rgb(255, 248, 243);
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    cursor: pointer;
}

.section-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.section-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}


/* Header Styles */
.header-class {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

.nav-title {
    font-weight: bolder;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* Banner Section */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: left;
}

.banner-name {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
}

.banner-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

.banner-image {
    width: 584px;
}


/* Main Styles */
main {
    max-width: 1140px;
    margin: 130px auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About Section Styles */
.about {
    border: 1px solid black;
    border-radius: 10px;
    padding: 100px 120px;
    margin-bottom: 50px;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 50px;
}

.about-item {
    max-width: 300px;
}

.item-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(117, 117, 117);
}

.item-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

/* What I do Section Styles */
.skills {
    border-radius: 10px;
    margin: 130px 0px;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 24px;
}

.skills-item {
    width: 300px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    background: rgb(255, 248, 243);
}

.skill-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
}

.skill-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

/* Resume Section Styles */
.resume-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
    gap: 50px;
}

.resume-column-title {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;
}

.experience-title {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}

.experience-subtitle {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.experience-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}